# Parte1 - P1-Credit Card Fraud Detection- Analise_Exploratoria


### have the propose of understand the dataset extracted from:
https://www.kaggle.com/mishra5001/credit-card/code

In [ ]:
# REFERENCES 

# treating the data, selecting the kind of type
#https://qastack.com.br/programming/22697773/how-to-check-the-dtype-of-a-column-in-python-pandas#:~:text=No%20caso%20de%2

# equivalência de SQL e PANDAS - promissor
# https://www.phylos.net/2021-01-30/pandas-e-sql-comparados/

#https://insightlab.ufc.br/10-funcoes-mais-usadas-para-manipular-dataframes-no-pandas/

# PCA
#https://www.kindsonthegenius.com/principal-components-analysispca-in-python-step-by-step/
#https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html

<a name="indice"> </a>
* # [**`Indice`**](#indice)
* ### [**`1 - Loading Data`**](#a1)
* ### [**`2 - Data cleaning`**](#a2)
* ### [**`2.1 - Treating the values missing`**](#a3)
* ### [**`2.2 - Changing the dara object to data category`**](#a4)
* ### [**`2.3 - Verifying the types of the columns in dataset`**](#a5)
* ### [**`2.4 - Description of the remained columns`**](#a6)
* ### [**`3 - Data Exploratory`**](#a7)
* ### [**`3.0 - Inicial data exploring`**](#a8)
* ### [**`3.1 - Categorical Data`**](#a9)

In [1]:
# loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

### <a name="a1"> **`1 Loading Data `**</a>

[Voltar ao índice](#indice)

In [ ]:
# load the dataset with columns descriptions
#col_descr=pd.read_csv("archive(1)/columns_description.csv",encoding = "latin-1")

In [2]:
#displaying all the rows and columns
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [3]:
# load the data of application_data
df_app=pd.read_csv("archive(1)/application_data.csv",encoding = "latin-1")

In [4]:
df_app.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [5]:
df_app.shape

(307511, 122)

In [6]:
df_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

* ###### AMT_INCOME_TOTAL mean = 1.687979e+05
* ######                 std  = 2.371231e+05
* ######                25% - 75 % [1.125000e+05 -  2.025000e+05] 
* ###### valores acima e abaixo e abaixo podem sererm considerados como outliers

* ###### AMT_CREDIT ( loan ) mean = 5.990260e+05
* ######                     std  = 4.024908e+05
* ######                25% - 75 % [2.700000e+05 -  8.086500e+05] 
* ###### valores acima e abaixo e abaixo podem sererm considerados como outliers

In [7]:
df_app.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,104582.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307509.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,134133.000000,3.068510e+05,246546.000000,151450.00000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,159080.000000,306490.000000,306490.000000,306490.000000,306490.000000,307510.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,-4986.120328,-2994.202373,12.061091,0.999997,0.819889,0.199368,0.998133,0.281066,0.056720,2.152665,2.052463,2.031521,12.063419,0.015144,0.050769,0.040659,0.078173,0.230454,0.179555,0.502130,5.143927e-01,0.510853,0.11744,0.088442,0.977735,0.752471,0.044621,0.078942,0.149725,0.226282,0.231894,0.066333,0.100775,0.107399,0.008809,0.028358,0.114231,0.087543,0.977065,0.759637,0.042553,0.074490,0.145193,0.222315,0.228058,0.064958,0.105645,0.105975,0.008076,0.027022,0.117850,0.087955,0.977752,0.755746,0.044595,0.078078,0.149213,0.225897,0.231625,0.067169,0.101954,0.108607,0.008651,0.028236,0.102547,1.422245,0.143421,1.405292,0.100049,-962.858788,0.000042,0.710023,0.000081,0.015115,0.088055,0.000192,0.081376,0.003896,0.000023,0.003912,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,3522.886321,1509.450419,11.944812,0.001803,0.384280,0.399526,0.043164,0.449521,0.231307,0.910682,0.509034,0.502737,3.265832,0.122126,0.219526,0.197499,0.268444,0.421124,0.383817,0.211062,1.910602e-01,0.194844,0.10824,0.082438,0.059223,0.113280,0.076036,0.134576,0.100049,0.144641,0.161380,0.081184,0.092576,0.110565,0.047732,0.069523,0.107936,0.084307,0.064575,0.110111,0.074445,0.132256,0.100977,0.143709,0.161160,0.081750,0.097880,0.111845,0.046276,0.070254,0.109076,0.082179,0.059897,0.112066,0.076144,0.134467,0.100368,0.145067,0.161934,0.082167,0.093642,0.112260,0.047415,0.070166,0.107462,2.400989,0.446698,2.379803,0.362291,826.808487,0.006502,0.453752,0.009016,0.122010,0.283376,0.013850,0.273412,0.062295,0.004771,0.062424,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,-24672.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014568,8.173617e-08,0.000527,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,-7479.500000,-4299.000000,5.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.334007,3.924574e-01,0.370650,0.05770,0.044200,0.976700,0.687200,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.045300,0.000000,0.000000,0.052500,0.040700,0.976700,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.016600,0.054200,0.042700,0.000000,0.000000,0.058300,0.043700,0.976700,0.691400,0.007900,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.045700,0.000000,0.000000,0.041200,0.000000,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,-4504.000000,-3254.000000,9.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.505998,5.659614e-01,0.535276,0.08760,0.076300,0.981600,0.755200,0.021100,0.000000,0.137900,0.166700,0.208300,0.048100,0.075600,0.074500,0.000000,0.003600,0.084000,0.074600,0.981600,0.764800,0.019000,0.000000,0.137900,0.166700,0.208300,0.045800,0.077100,0.073100,0.000000,0.001100,0.086400,0.075800,0.981600,0.758500,0.020800,0.000000,0.137900,0.166700,0.208300,0.048700,0.076100,0.074900,0.000000,0.003100,0.068800,0.000000,0.000000,0.000000,0.000000,-757.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,-2010.000000,-1720.000000,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.675053,6.636171e-01,0.669057,0.14850,0.112200,0.986600,0.823200,0.051500,0.120000,0.206900,0.333300,0.375000,0.085600,0.121000,0.129900,0.003900,0.027700,0.143900,0.112400,0.986600,0.823600,0.049000,0.120800,0.206900,0.333300,0.375000,0.084100,0.131300,0.125200,0.003900,0.023100,0.148900,0.111600,0.986600,0.825600,0.051300,0.120000,0.206900,0.333300,0.375000,0.086800,0.123100,0.130300,0.003900,0.026600,0.127600,2.000000,0.000000,2.000000,0.000000,-274.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.000000,0.000000,91.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.962693,8.549997e-01,0.896010,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

### <a name="a2"> **`2 - Data cleaning`**</a>
[Voltar ao índice](#indice)

* ##### dropping the columns irrelevants

In [9]:
#dropping the columns that store the Normalized information about building where the client lives
MODE_cols = [col for col in df_app.columns if '_MODE' in col]
df_app.drop(columns = MODE_cols,inplace=True)
MEDI_cols = [col for col in df_app.columns if '_MEDI' in col]
df_app.drop(columns = MEDI_cols,inplace=True)
AVG_cols = [col for col in df_app.columns if '_AVG' in col]
df_app.drop(columns = AVG_cols,inplace=True)

In [10]:
#Find all the columns starting with name FLAG_DOCUMENT , as these are just FLAGS indicating document submission and can be dropped
temp=df_app.filter(regex='^FLAG_DOCUMENT',axis=1)
#drop the FLAG_DOCUMENT Columns the column names are stored in temp Series
df_app.drop(columns=temp.columns,inplace=True)

In [11]:
#These columns 'FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL' 
#are FLAGS which need not be used in analysis so drop them
df_app.drop(columns=['FLAG_MOBIL',
                           'FLAG_EMP_PHONE',
                           'FLAG_WORK_PHONE',
                           'FLAG_CONT_MOBILE',
                           'FLAG_PHONE',
                            'FLAG_EMAIL'],inplace=True)

In [12]:
# Manteining the AMT_REQ_CREDIT_BUREAU_YEAR and excluing the other redundants columns
df_app.drop(columns=['AMT_REQ_CREDIT_BUREAU_DAY',
                           'AMT_REQ_CREDIT_BUREAU_HOUR',
                           'AMT_REQ_CREDIT_BUREAU_WEEK',
                           'AMT_REQ_CREDIT_BUREAU_MON',
                           'AMT_REQ_CREDIT_BUREAU_QRT'],inplace=True)

In [13]:
# drop dados external source, because we do not have a clear description of these
df_app.drop(columns=['EXT_SOURCE_1',
                           'EXT_SOURCE_2',
                           'EXT_SOURCE_3'],inplace=True)

In [14]:
# if the person was or not accompanied probably is not relevant
df_app.drop(columns=['NAME_TYPE_SUITE'],inplace=True)

In [15]:
# dropping flags atualização de cadastro e de monitoramento de arredores sociais do client
df_app.drop(columns=['REG_REGION_NOT_LIVE_REGION',
                           'REG_REGION_NOT_WORK_REGION',
                           'LIVE_REGION_NOT_WORK_REGION',
                           'REG_CITY_NOT_LIVE_CITY',
                           'REG_CITY_NOT_WORK_CITY',
                           'LIVE_CITY_NOT_WORK_CITY',
                           'OBS_30_CNT_SOCIAL_CIRCLE',
                           'DEF_30_CNT_SOCIAL_CIRCLE',
                           'OBS_60_CNT_SOCIAL_CIRCLE',
                           'DEF_60_CNT_SOCIAL_CIRCLE',
                           'WEEKDAY_APPR_PROCESS_START',
                           'HOUR_APPR_PROCESS_START',
                           'REG_REGION_NOT_LIVE_REGION',
                           'DAYS_REGISTRATION',
                           'DAYS_ID_PUBLISH',
                           'DAYS_LAST_PHONE_CHANGE'],inplace=True)

* ##### data to explore

In [16]:
df_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_CURR                   307511 non-null  int64
 1   TARGET                       307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307499 non-null  float64
 10  AMT_GOODS_PRICE              307233 non-null  float64
 11  NAME_INCOME_TYPE             307511 non-null  object
 12  NAME_EDUCATION_TYPE          307511 non-null  object
 13  NAME_FAMILY_STATUS           307511 non-null  object
 14  NAME_HOUSING_TYPE            307511 non-null  object
 15  REGION_POPULATION_RELATIVE   307511 non-null  float64
 16  DAYS_BIRTH                   307511 non-null  int64
 17  DAYS_EMPLOYED                307511 non-null  int64
 18  OWN_CAR_AGE                  104582 non-null  float64
 19  OCCUPATION_TYPE              211120 non-null  object
 20  CNT_FAM_MEMBERS              307509 non-null  float64
 21  REGION_RATING_CLIENT         307511 non-null  int64
 22  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 23  ORGANIZATION_TYPE            307511 non-null  object
 24  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(8), int64(7), object(10)
memory usage: 58.7+ MB

* ##### percentage of data missing

In [17]:
p_miss_app=df_app.isna().sum().sort_values(ascending=False)/df_app.shape[0]*100 #
p_miss_app

OWN_CAR_AGE                    65.990810
OCCUPATION_TYPE                31.345545
AMT_REQ_CREDIT_BUREAU_YEAR     13.501631
AMT_GOODS_PRICE                 0.090403
AMT_ANNUITY                     0.003902
CNT_FAM_MEMBERS                 0.000650
NAME_HOUSING_TYPE               0.000000
ORGANIZATION_TYPE               0.000000
REGION_RATING_CLIENT_W_CITY     0.000000
REGION_RATING_CLIENT            0.000000
DAYS_EMPLOYED                   0.000000
DAYS_BIRTH                      0.000000
REGION_POPULATION_RELATIVE      0.000000
SK_ID_CURR                      0.000000
NAME_FAMILY_STATUS              0.000000
TARGET                          0.000000
NAME_INCOME_TYPE                0.000000
AMT_CREDIT                      0.000000
AMT_INCOME_TOTAL                0.000000
CNT_CHILDREN                    0.000000
FLAG_OWN_REALTY                 0.000000
FLAG_OWN_CAR                    0.000000
CODE_GENDER                     0.000000
NAME_CONTRACT_TYPE              0.000000
NAME_EDUCATION_TYPE             0.000000
dtype: float64

* ##### Seeing the classes and quantity of registers in OCCUPATION_TYPE

In [18]:
print(df_app.groupby("OCCUPATION_TYPE").size().sort_values(ascending=False))
print('\n sum OF non NaN',df_app.groupby("OCCUPATION_TYPE").size().sort_values(ascending=False).sum())

OCCUPATION_TYPE
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
dtype: int64

 sum OF non NaN 211120

* ##### quantity of missing values in OCCUPATION_TYPE

In [19]:
# In your occupation type we have 96391 lines with missing values
df_app.groupby((df_app["OCCUPATION_TYPE"].isna())).size()#.sort_values(ascending=False)

# persentual NaN null ???
# 96391*100/211120 = 45.656972338006824

OCCUPATION_TYPE
False    211120
True      96391
dtype: int64

### <a name="a3"> **`2.1  Treating the values missing `**</a>
[Voltar ao índice](#indice)

* ##### INSERTING THE LABOR CLASS OTHERS IN PLACE WHERE NaN

In [20]:
df_app["OCCUPATION_TYPE"].fillna("OTHERS",inplace=True)

In [21]:
print(df_app.groupby("OCCUPATION_TYPE").size().sort_values(ascending=False))

OCCUPATION_TYPE
OTHERS                   96391
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
dtype: int64

* ##### data missing

In [22]:
p_miss_app=df_app.isna().sum().sort_values(ascending=False)#/df_app.shape[0]*100 #
p_miss_app

OWN_CAR_AGE                    202929
AMT_REQ_CREDIT_BUREAU_YEAR      41519
AMT_GOODS_PRICE                   278
AMT_ANNUITY                        12
CNT_FAM_MEMBERS                     2
NAME_HOUSING_TYPE                   0
ORGANIZATION_TYPE                   0
REGION_RATING_CLIENT_W_CITY         0
REGION_RATING_CLIENT                0
OCCUPATION_TYPE                     0
DAYS_EMPLOYED                       0
DAYS_BIRTH                          0
REGION_POPULATION_RELATIVE          0
SK_ID_CURR                          0
NAME_FAMILY_STATUS                  0
TARGET                              0
NAME_INCOME_TYPE                    0
AMT_CREDIT                          0
AMT_INCOME_TOTAL                    0
CNT_CHILDREN                        0
FLAG_OWN_REALTY                     0
FLAG_OWN_CAR                        0
CODE_GENDER                         0
NAME_CONTRACT_TYPE                  0
NAME_EDUCATION_TYPE                 0
dtype: int64

* ###### treating the values missing 
* ###### os missing values was substituded the median value instead the media 
* ###### because this value have less influency of outliers

In [23]:
c_age=df_app['OWN_CAR_AGE'].median()
df_app['OWN_CAR_AGE'].fillna(c_age,inplace=True)

x=df_app['AMT_REQ_CREDIT_BUREAU_YEAR'].median()
df_app['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(x,inplace=True)

x=df_app['CNT_FAM_MEMBERS'].median()
df_app['CNT_FAM_MEMBERS'].fillna(x,inplace=True)

x=df_app['AMT_ANNUITY'].median()
df_app['AMT_ANNUITY'].fillna(x,inplace=True)

x=df_app['AMT_GOODS_PRICE'].median()
df_app['AMT_GOODS_PRICE'].fillna(x,inplace=True)

print(df_app.shape)
df_app.isna().sum().sort_values(ascending=False)/df_app.shape[0]*100

(307511, 25)

SK_ID_CURR                     0.0
NAME_FAMILY_STATUS             0.0
ORGANIZATION_TYPE              0.0
REGION_RATING_CLIENT_W_CITY    0.0
REGION_RATING_CLIENT           0.0
CNT_FAM_MEMBERS                0.0
OCCUPATION_TYPE                0.0
OWN_CAR_AGE                    0.0
DAYS_EMPLOYED                  0.0
DAYS_BIRTH                     0.0
REGION_POPULATION_RELATIVE     0.0
NAME_HOUSING_TYPE              0.0
NAME_EDUCATION_TYPE            0.0
TARGET                         0.0
NAME_INCOME_TYPE               0.0
AMT_GOODS_PRICE                0.0
AMT_ANNUITY                    0.0
AMT_CREDIT                     0.0
AMT_INCOME_TOTAL               0.0
CNT_CHILDREN                   0.0
FLAG_OWN_REALTY                0.0
FLAG_OWN_CAR                   0.0
CODE_GENDER                    0.0
NAME_CONTRACT_TYPE             0.0
AMT_REQ_CREDIT_BUREAU_YEAR     0.0
dtype: float64

In [24]:
df_app.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,OWN_CAR_AGE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,ORGANIZATION_TYPE,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,9.0,Laborers,1.0,2,2,Business Entity Type 3,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,9.0,Core staff,2.0,1,1,School,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,26.0,Laborers,1.0,2,2,Government,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,9.0,Laborers,2.0,2,2,Business Entity Type 3,1.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,9.0,Core staff,1.0,2,2,Religion,0.0

### <a name="a4"> **`2.2 Changing the dara object to data category `**</a>
[Voltar ao índice](#indice)

In [25]:
#Identification if loan is cash or revolving
df_app['NAME_CONTRACT_TYPE']=df_app['NAME_CONTRACT_TYPE'].astype('category')

df_app['CODE_GENDER']=df_app['CODE_GENDER'].astype('category')

df_app['FLAG_OWN_CAR']=df_app['FLAG_OWN_CAR'].astype('category')

#Flag if client owns a house or flat
df_app['FLAG_OWN_REALTY']=df_app['FLAG_OWN_REALTY'].astype('category')

#Clients income type (businessman, working, maternity leave,…)
df_app['NAME_INCOME_TYPE']=df_app['NAME_INCOME_TYPE'].astype('category')

#Level of highest education the client achieved
df_app['NAME_EDUCATION_TYPE']=df_app['NAME_EDUCATION_TYPE'].astype('category')

#Family status of the client
df_app['NAME_FAMILY_STATUS']=df_app['NAME_FAMILY_STATUS'].astype('category')

#What is the housing situation of the client (renting, living with parents, ...)
df_app['NAME_HOUSING_TYPE']=df_app['NAME_HOUSING_TYPE'].astype('category')

# #Type of organization where client works
# ORGANIZATION_TYPE
df_app['ORGANIZATION_TYPE']=df_app['ORGANIZATION_TYPE'].astype('category')

#What kind of occupation does the client have
df_app['OCCUPATION_TYPE']=df_app['OCCUPATION_TYPE'].astype('category')

* ##### Converting the negative values to positive values

In [ ]:
df_app['DAYS_BIRTH'] = abs(df_app['DAYS_BIRTH'])
df_app['DAYS_EMPLOYED'] = abs(df_app['DAYS_EMPLOYED'])

In [ ]:
# treating the data, selecting the kind of type
#https://qastack.com.br/programming/22697773/how-to-check-the-dtype-of-a-column-in-python-pandas#:~:text=No%20caso%20de%20bool%2C%20podemos,period')%20ser%C3%A1%20gerado%20NotImplementedError%20.
df_app.head()
# categorical classes
# NAME_CONTRACT_TYPE
# CODE_GENDER
# FLAG_OWN_CAR
# FLAG_OWN_REALTY
# NAME_INCOME_TYPE
# NAME_EDUCATION_TYPE
# NAME_FAMILY_STATUS
# NAME_HOUSING_TYPE

# são muitas categorias não vou converter
# ORGANIZATION_TYPE
# OCCUPATION_TYPE


# # change the classes to numerical values
# cont_type= {'Cash loans':0,'Revolving loans'}
# df_app['NAME_CONTRACT_TYPE'].map(cont_type).head()

# gender={'F':0,'M':1,'XNA':2} # unbalanced class
# df_app['CODE_GENDER'].map(gender).head()

# own_car={'N':0,'Y':1} # unbalanced class
# df_app['FLAG_OWN_CAR'].map(own_car).head()

# own_realty={'N':0,'Y':1} # unbalanced class
# df_app['FLAG_OWN_REALTY'].map(own_realty).head()

# # the class with hight number will be higher
# in_type={'Maternity leave':0,'Businessman':1,'Student':2,'Unemployed':3,'State servant':4,'Pensioner':5,'Commercial associate':6,'Working':7} # unbalanced class
# df_app['NAME_INCOME_TYPE'].map(in_type).head()

# # the class with hight number will be higher
# ed_type={'Academic degree':0,'Lower secondary':1,'Incomplete higher':2,'Higher education':3,'Secondary / secondary special':4} # unbalanced class
# df_app['NAME_EDUCATION_TYPE'].map(ed_type).head()

# fst={'Unknown':0,'Widow':1,'Separated':2,'Civil marriage':3,'Single / not married':4,'Married':5} # unbalanced class
# df_app['NAME_FAMILY_STATUS'].map(fst).head()

# ht={'Co-op apartment':0,'Office apartment':1,'Rented apartment':2,'Municipal apartment':3,'With parents':4,'House / apartment':5} # unbalanced class
# df_app['NAME_HOUSING_TYPE'].map(ht).head()

In [36]:
# print(df_app.groupby("ORGANIZATION_TYPE").size().sort_values(ascending=False))

### <a name="a5"> **`2.3 Verifying the types of the columns in dataset `**</a>
[Voltar ao índice](#indice)

In [ ]:
df_app.select_dtypes('category').columns

In [ ]:
df_app.select_dtypes('float64').columns

In [ ]:
df_app.select_dtypes('int64').columns


### <a name="a6"> **`2.4 Description of the remained columnst `**</a>
[Voltar ao índice](#indice)

* #### 0   SK_ID_CURR   -  int64   
ID of loan in our sample
* #### 1   TARGET -  int64   
Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)
* ####  2   NAME_CONTRACT_TYPE           210191 non-null  category
Identification if loan is cash or revolving
* ####  3   CODE_GENDER   category
Gender of the client
* ####  4   FLAG_OWN_CAR  category
Flag if the client owns a car
* ####  5   FLAG_OWN_REALTY category
Flag if client owns a house or flat
* ####  6   CNT_CHILDREN  int64   
Number of children the client has
* ####  7   AMT_INCOME_TOTAL float64 
Income of the client
* ####  8   AMT_CREDIT float64 
Credit amount of the loan
* ####  9   AMT_ANNUITY float64 
Loan annuity
* ####  10  AMT_GOODS_PRICE float64 
For consumer loans it is the price of the goods for which the loan is given
* ####  11  NAME_INCOME_TYPE  category
Clients income type (businessman, working, maternity leave,…)
* ####  12  NAME_EDUCATION_TYPE category
Level of highest education the client achieved
* ####  13  NAME_FAMILY_STATUS  category
Family status of the client
* ####  14  NAME_HOUSING_TYPE   category
What is the housing situation of the client (renting, living with parents, ...)
* ####  15  REGION_POPULATION_RELATIVE float64 
Normalized population of region where client lives (higher number means the client lives in more populated region)
* ####  16  DAYS_BIRTH int64 
Client's age in days at the time of application
* ####  17  DAYS_EMPLOYED int64   
How many days before the application the person started current employment
* ####  18  OWN_CAR_AGE   float64 
Age of client's car
* ####  19  OCCUPATION_TYPE category
What kind of occupation does the client have
* ####  20  CNT_FAM_MEMBERS  float64 
How many family members does client have
* ####  21  REGION_RATING_CLIENT int64   
Our rating of the region where client lives (1,2,3) the meaning of 1,2,3?
Classificação da região que o cliente vive
* ####  22  REGION_RATING_CLIENT_W_CITY int64 
Our rating of the region where client lives with taking city into account (1,2,3)
classificação da regiao que o cliente vive levando 
em consideração a sua cidade
* ####  23  ORGANIZATION_TYPE category
Type of organization where client works
* #### 24 AMT_REQ_CREDIT_BUREAU_YEAR   float64
Number of enquiries to Credit Bureau about the client one day year (excluding last 3 months before application)

### <a name="a7"> **`3 Data Exploratory `**</a>
[Voltar ao índice](#indice)

### <a name="a8"> **`3.0 Inicial data exploring `**</a>
[Voltar ao índice](#indice)

In [ ]:
#Checking the percentage of target variable
pay_diff=df_app[df_app.TARGET==1]
pay=df_app[df_app.TARGET==0]

In [ ]:
# % withh dificult in pay
pay_diff['TARGET'].sum()/df_app['TARGET'].shape[0]*100

In [ ]:
# % who didn't had problem in pay
len(pay['TARGET'])/df_app['TARGET'].shape[0]*100
# sum of 0 was 0

In [ ]:
# analysing correlations
s=df_app.corr()
s

In [ ]:
# s['TARGET'].sort_values(ascending=False)
s['AMT_INCOME_TOTAL'].sort_values(ascending=False) # CNT_CHILDREN

# as higher the amount income total of the client higher the
# The Annuit will be higher, AMT_GOODS_PRICE, AMT_CREDIT

In [ ]:
plt.figure(figsize=(15,15))

# heatmap
sns.heatmap(s, cmap="coolwarm", annot=True)
plt.show()

# varibles with high correlation
# AMT_CREDIT X AMT_GOODS_PRICE = 0.99
# AMT_CREDIT X AMT_ANNUIT = 0.77
# CNT_CHILDREN X CNT_FAM_MEMBERS  0.88
# DAYS_BIRTH X DAYS_EMPLOYED = 0.62
# REGION_RATING_CLIENT X REGION_RATING_CLIENT_W_CITY = 0.95

In [ ]:
# NAME_CONTRACT_TYPE 0 Cash loans 1 Cash loans
# CODE_GENDER 0 M 1 F
# FLAG_OWN_CAR 0 N 1 Y
# FLAG_OWN_REALTY 0 N 1 Y

### <a name="a9"> **`3.1 categorical Data `**</a>
[Voltar ao índice](#indice)

In [ ]:
fig, ax =plt.subplots(1,2,figsize=(10,5))
plt.tight_layout(2)

#/df_app.shape[0]*100
sns.countplot(df_app['TARGET'], palette='magma',ax=ax[0]).set_title('TARGET')
sns.countplot(df_app['CODE_GENDER'], hue=df_app.TARGET, palette='magma',ax=ax[1]).set_title('TARGET per GENDER')

# Acording with the dictionary we have a TARGET where  
# 1- the client have the dificult to pay
# 0- the client don't have dificult to pay


# percebe-se que o target está altamente desbalanceada
# mulheres pegam mais emprestimos 
# mas proporcionalmente a dificuladade em realizar o pagamento aparenta estar semelhante à dificuldade dos homens

## make some code of agreggations and generat tables?

In [ ]:
# 
fig, ax =plt.subplots(1,1,figsize=(10,5))
plt.tight_layout(1)
sns.countplot(df_app['NAME_EDUCATION_TYPE'], hue=df_app.TARGET, palette='Reds',order=['Secondary / secondary special','Higher education','Incomplete higher','Lower secondary','Academic degree']).set_title('TARGET per EDUCATION_TYPE')

# Sequency of loans category
# 1º -secondary / secondary especial - EDUCATUION
# 2º -HIGHER
# 3º -Incomplete Higher
# 4º -Lower Secondary

In [ ]:
df_app.groupby(["TARGET","OCCUPATION_TYPE",]).agg({"AMT_CREDIT": [np.size, np.mean,np.std]})#.sort_values(ascending=False)

# In the follow we have the segmentation of the amount of loan credit per occupation type
# with those kind of segmentation will be helpfull for the sector analisys earn a lot of business insights

# for example looking in target 1 who do not have conditions in make a payment
# can been saw that, the number of loans, mean, standard deviation per occupation 
# of the amount of credit gaven

In [ ]:
fig, ax =plt.subplots(1,2,figsize=(15,5))
plt.tight_layout(1)
sns.countplot(df_app['OCCUPATION_TYPE'], hue=df_app.TARGET, palette='Oranges',order=['OTHERS','Laborers','Sales staff','Core staff','Managers'],ax=ax[0]).set_title('TARGET per OCCUPATION_TYPE 5 1º')
sns.countplot(df_app['OCCUPATION_TYPE'], hue=df_app.TARGET, palette='Oranges',order=['Drivers','High skill tech staff','Accountants','Medicine staff','Security staff'],ax=ax[1]).set_title('TARGET per OCCUPATION_TYPE 5 2º')

In [ ]:
fig, ax =plt.subplots(1,2,figsize=(15,5))
plt.tight_layout(1)

sns.countplot(df_app['OCCUPATION_TYPE'], hue=df_app.TARGET, palette='Oranges',order=['Cooking staff','Cleaning staff','Private service staff','Low-skill Laborers','Waiters/barmen staff'],ax=ax[0]).set_title('TARGET per OCCUPATION_TYPE 5 3º')
sns.countplot(df_app['OCCUPATION_TYPE'], hue=df_app.TARGET, palette='Oranges',order=['Secretaries','Realty agents','HR staff','IT staff'],ax=ax[1]).set_title('TARGET per OCCUPATION_TYPE 4 4º')

In [ ]:
fig, ax =plt.subplots(1,2,figsize=(10,5))
plt.tight_layout(2)

sns.countplot(df_app['NAME_CONTRACT_TYPE'], hue=df_app.TARGET, palette='Blues',ax=ax[0]).set_title('TARGET per NAME_CONTRACT_TYPE')
sns.countplot(df_app['FLAG_OWN_CAR'], hue=df_app.TARGET, palette='Blues',ax=ax[1]).set_title('TARGET per FLAG_OWN_CAR')

# we can find of the great of amount was in cash 
# the totalyties of the loans in cash with dificult in pay -1  
#   was quite the same the amount taken and payed in the revolving loans

# Who have not a car had more dificult in pay, and more necessity taken a loan

In [ ]:
# fig, ax =plt.subplots(1,2,figsize=(10,5))
# plt.tight_layout(2)

# sns.countplot(df_app[''], hue=df_app.TARGET, palette='Oranges',ax=ax[0]).set_title('TARGET per NAME_INCOME_TYPE')
# sns.countplot(df_app[''], hue=df_app.TARGET, palette='Oranges',ax=ax[1]).set_title('TARGET per ORGANIZATION_TYPE')

In [ ]:
fig, ax =plt.subplots(1,1,figsize=(10,5))
plt.tight_layout(1)
sns.countplot(df_app['NAME_INCOME_TYPE'], hue=df_app.TARGET, palette='Purples', order=['Working','Commercial associate','State servant']).set_title('TARGET per NAME_INCOME_TYPE')

# Sequency of loans category
# 1º -Working
# 2º -Commercial associate
# 3º -State servant

In [ ]:
fig, ax =plt.subplots(1,1,figsize=(10,5))
plt.tight_layout(1)
sns.countplot(df_app['NAME_FAMILY_STATUS'], hue=df_app.TARGET, palette='magma',order=['Married','Single / not married','Civil marriage','Separated','Widow']).set_title('TARGET per NAME_FAMILY_STATUS')


# Sequency of loans category
# 1º -Married
# 2º -Single / not Married
# 3º -Civil marriage
# 4º -Separeted
# 5º -Widow

#

In [ ]:
fig, ax =plt.subplots(1,2,figsize=(10,5))
plt.tight_layout(1)
sns.countplot(y=df_app['FLAG_OWN_REALTY'], hue=df_app.TARGET, palette='Reds',ax=ax[0], order=['Y', 'N']).set_title('TARGET per FLAG_OWN_REALTY')
sns.countplot(y=df_app['CNT_CHILDREN'], hue=df_app.TARGET, palette='Reds',ax=ax[1], order=[0,1,2,3]).set_title('TARGET per CNT_CHILDREN')

#FLAG_OWN_REALTY
#Flag if client owns a house or flat
# the client who have their own flat-house recieve more loans instead who do not have

# Another curioty thing is: the great quantity of loans was offered to who do not have children

In [ ]:
# df_app['CNT_CHILDREN'].unique().sum()

In [ ]:
# AMT_CREDIT  x CNT_CHILDREN
fig, ax =plt.subplots(2,2,figsize=(15,15))
plt.tight_layout(1)
#df_app[['AMT_CREDIT']].hist(bins=60,alpha=0.5,color='Green')#.set_title('TARGET per NAME_FAMILY_STATUS')

#/df_app.shape[0]*100
sns.distplot(df_app['AMT_CREDIT'],ax=ax[0,0],color='red').set_title('AMT_CREDIT')
sns.distplot(df_app['AMT_INCOME_TOTAL'],ax=ax[0,1],color='black').set_title('AMT_INCOME_TOTAL')
sns.distplot(df_app['AMT_ANNUITY'],ax=ax[1,0],color='green')#.set_title('AMT_ANNUITY')
sns.distplot(df_app['AMT_GOODS_PRICE'],ax=ax[1,1],color='magenta')#.set_title('AMT_GOODS_PRICE')
# The distribuition of  Credit amount of the loan
# is about 20 000

In [ ]:
#df_app[['AMT_INCOME_TOTAL']].hist(bins=150,alpha=0.5,color='Green')#.set_title('TARGET per NAME_FAMILY_STATUS')

In [ ]:
#df_app['AMT_INCOME_TOTAL'].sort()

In [ ]:
#df_app.info()

In [ ]:
# %matplotlib inline
# sns.lmplot(y="AMT_CREDIT",
#            x="AMT_INCOME_TOTAL", 
#            #hue="TARGET", 
#            col="TARGET", 
#            palette="Set1",
#            data=df_app, 
#            #scatter_kws={'s': 90, 'alpha': 0.5},
#            #line_kws={'lw': 4}
#           );

In [ ]:
# fig, ax =plt.subplots(1,1,figsize=(15,15))
#plt.tight_layout(1)

sns.catplot(y="AMT_CREDIT", x="TARGET",hue="CODE_GENDER" , kind="violin", data=df_app,height=10)#,split=True

In [ ]:
sns.catplot(y="AMT_ANNUITY", x="TARGET",hue="CODE_GENDER" , kind="box", data=df_app,height=10)
# with the boxplot can been saw the outliers points

In [ ]:
sns.catplot(y="AMT_GOODS_PRICE", x="TARGET",hue="CODE_GENDER" , kind="boxen", data=df_app,height=10)

# 4 PCA (Principal Component Analisys)
https://www.kindsonthegenius.com/principal-components-analysispca-in-python-step-by-step/

https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html

http://www.ic.uff.br/~aconci/PCA-ACP.pdf

In [ ]:
# 1 import the librarys
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [ ]:
# 2 import the  dataset using the dataset in working
# 3 load the data
df_app.head(3)

In [ ]:
df_app.select_dtypes('category').columns

In [ ]:
# 4 Scaling the data, with means the average value will be zero
from sklearn.preprocessing import StandardScaler

features=df_app.columns
y=df_app["TARGET"].values

# trabalhando apenas com as variaveis numericas
x=df_app.drop(columns=['TARGET','NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE']).values

x = StandardScaler().fit_transform(x)
x

In [ ]:
x.shape

In [ ]:
df_app.drop(columns=['TARGET','NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE'])

In [ ]:
df_app.info()

In [ ]:
# 5 Perform the PCA
pca=PCA(n_components=2)

principalComponents=pca.fit_transform(x)

principalDataframe = pd.DataFrame(data=principalComponents, columns =['PC1','PC2'])

# Verifying the variance of pca
print('var of pca 2 components = ',pca.explained_variance_ratio_)

# sum of all variancies
print('sum of the var of pca 2 components = ',(pca.explained_variance_ratio_.sum()))

principalDataframe.head()

In [ ]:
 # trying with 4 compontes
pca=PCA(n_components=4)

principalComponents=pca.fit_transform(x)

principalDataframe = pd.DataFrame(data=principalComponents, columns =['PC1','PC2','PC3','PC4'])

# Verifying the variance of pca
print('var of pca 4 components =\n',pca.explained_variance_ratio_)

# sum of all variancies
print('sum of the var of pca 4 components = ',(pca.explained_variance_ratio_.sum()))

principalDataframe.head()

In [ ]:
 # trying with 8 compontes
pca=PCA(n_components=8)

principalComponents=pca.fit_transform(x)

principalDataframe = pd.DataFrame(data=principalComponents, columns =['PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8'])

# Verifying the variance of pca
print('var of pca 8 components =\n',pca.explained_variance_ratio_)

# sum of all variancies
print('sum of the var of pca 8 components = ',(pca.explained_variance_ratio_.sum()))

principalDataframe.head()

In [ ]:
 # trying with 12 compontes
pca=PCA(n_components=12)

principalComponents=pca.fit_transform(x)

principalDataframe = pd.DataFrame(data=principalComponents, columns =['PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8',
                                                                      'PC9','PC10','PC11','PC12'])#,'PC13','PC14','PC15','PC16'])

# Verifying the variance of pca
print('var of pca 12 components =\n',pca.explained_variance_ratio_)

# sum of all variancies
print('sum of the var of pca 16 components = ',(pca.explained_variance_ratio_.sum()))
print('singular values of 16 components = ',pca.singular_values_)
principalDataframe.head()

In [ ]:
score(pca[, y])

In [ ]:
print( pca.explained_variance_)
print (pca.explained_variance_ratio_)
print (pca.explained_variance_ratio_.cumsum()) # with this I can determ the numbers

In [ ]:
# 6 combine the target
y=df_app[["TARGET"]]
newDataFrame= pd.concat([principalDataframe,y],axis=1)
newDataFrame.head()

In [ ]:
# 7 Perform a Scree Plot of the Principal Components
# percent_variance = np.round(pca.explained_variance_ratio_* 100, decimals =2)
# columns = ['SK_ID_CURR', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
#        'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
#        'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
#        'OWN_CAR_AGE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
#        'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
#        'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
#        'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
#        'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
#        'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
#        'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
#        'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_YEAR']
# plt.bar(x= range(1,28), height=percent_variance, tick_label=columns)
# plt.ylabel('Percentate of Variance Explained')
# plt.xlabel('Principal Component')
# plt.title('PCA Scree Plot')
# plt.show()

In [ ]:
percent_variance = np.round(pca.explained_variance_ratio_* 100, decimals =2)
columns = ['PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10','PC11','PC12','PC13','PC14','PC15','PC16']


fig, ax =plt.subplots(1,1,figsize=(10,7.5))
plt.tight_layout(1)

plt.bar(x= range(1,17), height=percent_variance, tick_label=columns)
plt.ylabel('Percentate of Variance Explained')
plt.xlabel('Principal Component')
plt.title('PCA Screen Plot')
plt.show()

In [ ]:
# 8 plot the principal components on 2D
plt.scatter(principalDataframe.PC1, principalDataframe.PC2)
plt.title('PC1 against PC2')
plt.xlabel('PC1')
plt.ylabel('PC2')

In [ ]:
# Explaining the Variance Using Principal Component
pca.explained_variance_ratio_